* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    --purple-text: rgb(62, 35, 127);
    --card: #201E43;
    --background: rgb(21, 8, 52);
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr ;
    grid-template-rows: .3fr .5fr 1fr;
    gap: 15px;
    grid-template-areas: 
    "sidebar search nig"
    ". nft right"
    ". table rating"
    ;
    background-color: var(--background);
    color: #fff;
        /* height: 100vh;*/
    width: 1500px; 
}

.sidebar {
    grid-area: sidebar;
    grid-row: span 3;
    display: grid;
    grid-template-rows: .5fr repeat(3,1fr);
    background-color: var(--card);
    color: #bcbcbc;

}

#hov {
    width:100%;
}

#hov:hover {
    transition: .6s all ease;
    background-color: rgb(33, 8, 73);
    transform: scale(1.1);
}


.mike {
    grid-row: 1/2;
    padding: 2rem;
}

.first {
    grid-row: 2/3;
    margin: 1rem;
    padding: .5rem;
}

.second {
    grid-row: 3/4;
    padding: .5rem;
    margin: 1rem;
}

.third {
    grid-row: 4/5;
}

.card-ba {
    margin: 10px 10px;
    border-radius: 5px;
    height: 40%;
    padding: 0 1rem;
    background: #868CFF;
}

.third h4 {
    float: left;
    text-align: left;
    color: #fff;
    margin-top: 10px;

}

.third button {
    text-align: center;
    margin: 15px 0;
    padding: 7px;
    width: 100%;
}
.sidebar img {
    float: left;
    margin-right: 14px;
}

.sidebar p {
    margin: 5px 40px;
}
.mike #mike{
    text-align: left;
    border-radius: 50%;
}

#mt {
    transform: translateY(-50%);
}

#search {
    grid-area: search;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    margin: 2rem;
    padding: 26px;
}

#search::placeholder {
    color: #fff;
    padding-left: 20px;
}

#sea {
    color: rgb(142, 138, 147); 
    position: absolute;
    top: 45px;
    left: 260px;
}

#filter {
    position: absolute;
    top: 48px;
    left: 740px;
}

details[open] summary::before {
    content: "";
}

details {
    display: inline;
}

.nig {
    grid-area: nig;
    display: flex;
    margin: 30px 40px;
}

.nft {
    grid-area: nft;
}
.text {
    display: flex;
    flex-direction: column;
    margin: 8px 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 0 17px;
    color: #dad2d2;
}

a {
    text-decoration: none;
}

nav ul li:hover {
    transition: .5s all ease;
    transform: scale(1.1);
}

h3 {
    transition: .5s all ease;
    transform: scale(1.1);
}

.cards {
    display: flex;
    margin: 20px ;
    width: 70%;
}

.cards .card {
    margin: 0 15px;
}

.card2 {
    margin-left: 37px;
}

.ball {
    grid-area: right;
    background-color: var(--card);
    width: 330px;
    height: 100%;
    border-radius: 15px;
    border: none;
    margin: 0 24px;
    display: flex;
    flex-direction: column;
}

.ball-head {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin-top: 1.4rem;
}

.ball-head h4 {
    margin-left: 2.5rem;
    font-size: 1.3rem;
}

.ball-zag {
    font-size: 1.6rem;
    margin: -10px 1rem;
}

.ball img {
    width: 80%;
    text-align: center;
    margin: 2.1rem 2rem;
}
.ball .niz {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 1.2rem;
}

.ball-head span {
    font-size: 1.1rem;
    opacity: .8;
}

.niz button{
    width: 6.8rem;
    padding: 8px;
    background-color: blue;
    border-radius: 5px;
    color: #fff;
}

.rating {
    grid-area: rating;
    background-color: var(--card);
    width: 330px;
    height: 60%;
    border-radius: 15px;
    color: #fff;
    margin-left: 25px;
}

.rating-info {
    display: flex;
    justify-content: space-between;
    margin: 15px 24px;
}

.rating img {
    margin: 10px 19px;
}


.human {
    display: flex;
    justify-content: space-evenly;
}

.human-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.human button {
    margin-left: 2rem;
    width: 5rem;
    height: 1.4rem;
    padding: 15px;
    background-color: rgb(75, 26, 189);
    border: none;
    box-shadow: 0 0 5px #000;
    color: #dad2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
}

.rating button::placeholder {
    color: #dad2d2;
    padding-left: 10px;
}

.table {
    grid-area: table;
    padding: 1.4rem;
    width: 100%;
    
}

.table-info {
    display: flex;
    justify-content: space-between;
    gap: 30px;
} 

.table .det {
    margin-right: 10px;
}

.table tr td {
    margin: 15px;
    padding: 1.5rem;
}

.table-cont {
    margin: 15px;
    background-color: var(--card);
    border-radius: 15px;
}

.table tr img {
    float: left;
    margin-right: 15px;
    transform: translateY(-13%);
}