@import url(./reset.css);
@import url(./layout.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    --purple-text: rgb(62, 35, 127);
    --card: #201E43;
    --background: rgb(21, 8, 52);
}

body {
    min-width: -1400px;
    background-color: var(--background);
    box-sizing: border-box;
    /* overflow: hidden; */
}

.container {
    display: grid;
    grid-template-columns: 200px auto ;
    /* grid-template-rows: .2fr .5fr .3fr; */
    gap: 15px;
    grid-template-areas: 
    "sidebar search nig"
    ". nft right"
    ". table rating"
    ;
    background-color: var(--background);
    color: #fff;
        /* height: 100vh; */
    width: 1700px; 
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar {
    grid-area: sidebar;
    grid-row: span 3;
    display: grid;
    grid-template-rows: .5fr repeat(3,1fr);
    background-color: var(--card);
    color: #bcbcbc;
    text-align: center;

}

#hov {
    padding-left: 9px;
    width:105%;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin: 10px 0;
}


#hov:hover::before {
    content: url('Group\ 141.png') ;
    /* background-color: #8f7df8; */
    width: 6px;
    height: 40px;
    position: absolute;
    right: 0;
    border-radius: 2px 0 0 2px;
}

#hov:hover {
    transition: .6s all ease;
    background-color: rgb(33, 8, 73);
    transform: scale(1.1);
}

 #ho:hover::after {
    content: url('Group\ 141.png') ;
    /* background-color: #8f7df8; */
    width: 6px;
    height: 40px;
    position: absolute;
    right: 0;
    border-radius: 2px 0 0 2px;
} 

#ho:hover {
    transition: .6s all ease;
    background-color: rgb(33, 8, 73);
    transform: scale(1.1);
}

.mike {
    grid-row: 1/2;
    padding: 2rem;
}

.first {
    grid-row: 2/3;
    margin: 1rem;
    padding: .5rem;
}

.second {
    grid-row: 3/4;
    padding: .5rem;
    /* margin-left: 3rem; */
}

.third {
    grid-row: 4/5;
    margin-right: 1rem;
}

.card-ba {
    text-align: left;
    font: bold;
    margin: 5px 5px;
    border-radius: 5px;
    height: 30%;
    padding: 2rem 1rem;
    background: linear-gradient(135deg, #868CFF 0%, #4318FF 100%);

}

a {
    text-decoration: none;
    color: #bcbcbc;
}

.third h4 {
    float: left;
    text-align: left;
    color: #fff;
    margin-top: 7px;
}

.third button {
    text-align: center;
    margin: 18px 0;
    padding: 8px;
    width: 150px;
    color: #868CFF;
}

.third button::placeholder {
    font-size: 1.2rem;
    /* font-weight: bold; */
}

.sidebar img {
    float: left;
    margin-right: 14px;
    text-align: center;
}

.sidebar p {
    margin: 5px 40px;
    text-align: center;
}

.mike #mike{
    text-align: left;
    border-radius: 50%;
}

#mt {
    position: absolute;
    top: 50px;
    left: 113px;
    color: #fff;
}

#pro {
    position: absolute;
    top: 4px;
    transform: translateX(130%);
}

#search {
    grid-area: search;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: var(--card);
    margin: 2rem;
    padding: 26px;
    color: #fff;
}

#search::placeholder {
    color: #fff;
    padding-left: 40px;
    letter-spacing: 1px;
    font-weight: bold;
}

#sea {
    color: rgb(142, 138, 147); 
    position: absolute;
    top: 45px;
    left: 255px;
}

#filter {
    position: absolute;
    top: 49px;
    left: 850px;
}

details[open] summary::before {
    content: "";
}

details {
    display: inline;
}

.nig {
    grid-area: nig;
    display: flex;
    margin: 35px -220px;
}

.nft {
    grid-area: nft;
}

.text {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 13px 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.1rem;
}

nav {
    margin-right: 170px;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 0 17px;
    color: #dad2d2;
    /* transform: translateX(-50%); */
}

a {
    text-decoration: none;
}

nav ul li:hover {
    transition: .5s all ease;
    transform: scale(1.1);
}

h3 {
    transition: .5s all ease;
    transform: scale(1.1);
}

.card1 {
   background-color: #201E43;
   border-radius: 14px;
   height: 321px; 
   width: 250px;
   padding: 0.6rem;
   color: #bcbcbc;
   cursor: grab;
}

.card-info {
    margin-top: 20px;
    font-size: .9rem;
}

.card-info h3{
    padding-left: 1.2rem;
    margin-bottom: 18px;
}

.card-info span {
    padding-top: 2rem;
    margin: 5rem .4rem;
}

.cards {
    display: flex;
    margin: 20px ;
    width: 70%;
}

#book-img1 {
    position: absolute;
    top: 240px;
    left: 465px;
}

#book-img2 {
    position: absolute;
    top: 240px;
    left: 750px;
}

#book-img3 {
    position: absolute;
    top: 240px;
    left: 1030px;
}

#Bookmark {
    background-color: #201E43;
    position: absolute;
    border-radius: 20px;
    top: 400px;
    transform: translateX(15%);
}

.cards .card {
    margin: 0 15px;
}

.card2 {
    margin-left: 37px;
}

.card-otz {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    top: 385px;
    left: 737px;
}

.ball {
    grid-area: right;
    background-color: var(--card);
    width: 350px;
    height: 102%;
    border-radius: 15px;
    border: none;
    margin: -10px -240px;
    display: flex;
    flex-direction: column;
}

.ball-head {
    display: flex;
    justify-content: space-between;
    width: 270px;
    margin-top: 1.4rem;
}

.ball-head h4 {
    margin-left: 2.5rem;
    font-size: 1.3rem;
}

.ball-zag {
    font-size: 1.6rem;
    margin: -10px 1rem;
}

.ball img {
    width: 83%;
    text-align: center;
    margin: 2.1rem 2rem;
}

.ball .niz {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 1.2rem;
}

.ball-head span {
    font-size: 1.1rem;
    opacity: .8;
}

.niz button{
    width: 6.8rem;
    padding: 8px;
    background-color: rgb(18, 18, 158);
    border-radius: 5px;
    color: #fff;
    border: none;
    box-shadow: 0 0 2px #dad2d2;
}

.rating {
    grid-area: rating;
    background-color: var(--card);
    width: 350px;
    height: 95%;
    border-radius: 15px;
    color: #fff;
    margin-left: -240px;
    justify-content: space-evenly;
    align-content: space-around;
}

.rating-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 24px;
}

.rating img {
    margin: 15px 15px;
}

.human {
    display: flex;
    justify-content: space-around;
    margin: 1rem .1rem;
}

.human-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.human button {
    margin-left: 2rem;
    width: 5rem;
    height: 1.4rem;
    padding: 15px;
    background-color: rgb(70, 51, 114);
    border: none;
    box-shadow: 0 0 5px #000;
    color: #dad2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    transform: translateY(-40%);
}

.rating button {
    transform: translateY(83%);
}

.rating button::placeholder {
    color: #dad2d2;
    padding-left: 10px;
}

.table {
    grid-area: table;
    /* padding: .5rem;
    width: 95%; */
    text-align: center;
    /* height: 10%; */
    width: 950px;
    height: 190px;
    transform: translateY(-25%);
    /* margin-left: 10px; */
    
}

.table-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
    transform: translateY(110%);
    gap: 24px;
    margin: -.5rem 4rem;
} 

.table-info h2 {
    margin-left: 15px;
}

.table .det {
    margin-right: 30px;
}

.table-info summary {
    background-color: var(--card);
    width: 150px;
}

.table tr td {
    margin-left: 575px;
    padding: 1.4rem;
    /* transform: translateX(80%); */
    /* padding-left: 1rem; */
}

.table-cont {
    margin: 75px;
    background-color: var(--card);
    border-radius: 15px;
}

.table tr img {
    float: left;
    margin-right: 15px;
    transform: translateY(-13%);
}